@use '../sass-mq/mq';

body > main {
  flex-grow: 1;

  & > section {
    margin: 2rem var(--container-margin);
    padding-left: 0;
    padding-right: 0;

    @include mq.mq($until: md) {
      margin: 1rem;
    }

    &.primary { //This is the "What is QIP?" box
      background-color: #0ecb90;
      color: #fdfdfd;
    }

    &.accent {
      background-color: var(--accent);
      color: var(--accent-txt);
    }

  }
}
